{% extends 'dash/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59D5u2D0QDbPI8p9dH1Q8L1r" crossorigin="anonymous">
<style>
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    h3 samp.typewriter {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 2s steps(40) 1s 1 normal both;
    }
</style>
{% endblock style %}
{% block body %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3><samp class="typewriter">PRODUCT</samp></h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">All Products</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <h3 class="mt-4 mb-4">All Products</h3>
            <hr>
            <div class="row">
                {% for i in products %}
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                            <h3 class="widget-user-username">{{i.title}}</h3>
                            <h5 class="widget-user-desc">{{i.category}}</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle elevation-2" src="{{i.image.url}}">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">${{i.price}}</h5>
                                        <span class="description-text">Price</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <a href="#">
                                            <i class="fas fa-edit"></i>
                                            <span class="description-text">Edit</span>
                                        </a>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <a href="{% url 'delete-product' i.id %}">
                                            <i class="fas fa-trash"></i>
                                            <span class="description-text">Delete</span>
                                        </a>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
            <!-- Pagination -->
            <div class="pagination">
                <span class="step-links">
                    {% if products.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    OR
                    <a href="?page={{ products.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ products.number }} of {{ products.paginator.num_pages }}.
                    </span>

                    {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">Next</a>
                    OR
                    <a href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <!-- End Pagination -->
    </section>
</div>
{% endblock body %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('samp').classList.add('typewriter');
    });
</script>
{% endblock js %}
