{% extends 'base.html' %}
{% block title %} <title>Cart Items</title> {% endblock title %}

{% load static %}
{% block body %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Cart</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<th class="product-image">Product Image</th>
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for i in cart_items %}
							{% load custom_filters %}
							<tr class="table-body-row">
								<td class="product-remove"><a href="{% url 'remove_from_cart' i.id %}"><button
											type="button" class="btn btn-outline-secondary"
											style="margin: 5px;">X</button></a>
								</td>
								<td class="product-image"><img src="{{i.product.image.url}}" alt=""></td>
								<td class="product-name">{{i.product.title}}</td>
								{% if i.product.is_time_limited %}
								<td class="product-price">${{i.product.discount_price}}</td>
								{% else %}
								<td class="product-price">${{i.product.price}}</td>
								{% endif %}
								<td class="product-quantity"><a href="{% url 'remove_quantity' i.id %}"><button
											type="button" class="btn btn-warning">-</button></a><samp
										style="margin: 20px;">{{i.quantity}}</samp><a
										href="{% url 'update_quantity' i.id %}"><button type="button"
											class="btn btn-warning">+</button></a>
									{% if i.product.is_time_limited %}
								<td class="product-total">${{ i.quantity|multiply:i.product.discount_price }}</td>
								{% else %}
								<td class="product-total">${{ i.quantity|multiply:i.product.price }}</td>
								{% endif %}
							</tr>
							{% empty %}

							<div class="alert alert-danger" role="alert">
								Your cart is empty!!
							  </div>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="total-section">
					<table class="total-table">
						<thead class="total-table-head">
							<tr class="table-total-row">
								<th>Total</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>Subtotal: </strong></td>
								<td>${{cart_amount}}</td>
							</tr>
							<tr class="total-data">
								<td><strong>Shipping: </strong></td>
								<td style="color: green;"><samp>+</samp>${{shipping_amount}}</td>
							</tr>

							<tr class="total-data">
								<td><strong>Coupon: </strong></td>
								<td style="color: red;"><samp>-</samp>$120</td>
							</tr>
							<tr class="total-data">
								<td><strong>Total: </strong></td>
								<td style="color: green;">${{total_amount}}</td>
							</tr>
						</tbody>
					</table>
					<div class="cart-buttons">
						<a href="/shop/items/" class="boxed-btn">Continue Shop</a>
						<a href="/shop/checkout/" class="boxed-btn black">Check Out</a>
					</div>
				</div>

				<div class="coupon-section">
					<h3>Apply Coupon</h3>
					{% for i in messages%}
					<div class="alert alert-{{i.tags}}" role="alert">
						{{i}}						
					</div>
					{% endfor %}
					<div class="coupon-form-wrap">
						<form action="">
							
							<p><input type="text" name="coupon_code" placeholder="Enter coupon code."></p>
							<p><button type="submit" class="btn btn-primary">Apply</button></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end cart -->

<!-- logo caro' %}usel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/1.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/2.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/3.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/4.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/5.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->
{% endblock body %}