{% extends 'base.html' %}
{% block title %} <title>Items CheckOut</title> {% endblock title %}
{% load static %}
{% block body %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section" style="background-image: url('{% static 'assets/img/7.jpg' %}');">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Fresh and Organic</p>
					<h1>Check Out Product</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<form action="" method="post">
					{% csrf_token %}
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
											data-target="#collapseTwo" aria-expanded="false"
											aria-controls="collapseTwo">
											Shipping Address
										</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
									data-parent="#accordionExample">
									<div class="card-body">
										<div class="shipping-address-form">
											{% for i in address %}
											<p>
												<label>
													{% if i.default %}
													<input type="radio" name="selected_address" value="{{i.id}}"
														checked>
													<b>{{i.full_name}}</b>:
													<br>{{i.flat}},{{i.area}},
													<br>{{i.city|upper}}, {{i.state}}, {{i.pincode}}
													<br>{{i.country}},
													<br>Mobile: {{i.mobile}}
													{% else %}
													<input type="radio" name="selected_address" value="{{i.id}}">
													<b>{{i.full_name}}</b>:
													<br>{{i.flat}},{{i.area}},
													<br>{{i.city|upper}}, {{i.state}}, {{i.pincode}}
													<br>{{i.country}},
													<br>Mobile: {{i.mobile}}
													{% endif %}
												</label>
											</p>
											{% endfor %}

										</div>
									</div>
								</div>
							</div>
							<div class="alert alert-warning alert-dismissible fade show d-flex justify-content-between"
								role="alert">
								<div>
									<strong>INFO: </strong> If you don't select the address we get <a
										href="{% url 'user-address' %}">Default Address.</a>
								</div>
								<i class="fas fa-times-circle" data-bs-dismiss="alert" aria-label="Close"
									style='font-size:36px'></i>
							</div>
							{% for i in messages %}
							<div class="alert alert-{{i.tags}}" role="alert">
								{{i}}
							</div>
							{% endfor %}
						</div>
					</div>
			</div>

			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
							<tr>
								<th>Your order Details</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td>Quantity</td>
								<td>Total</td>
							</tr>
							{% for i in carts %}
							<tr>
								<td>{{i.product.title}}</td>
								<td>{{i.quantity}}</td>
								{% if i.product.is_time_limited %}
								<td>${{i.product.discount_price}}</td>
								{% else %}
								<td>${{i.product.price}}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
						<tbody class="checkout-details">
							<tr>
								<td>Subtotal</td>
								<td>${{sub_total}}</td>
							</tr>
							<tr>
								<td>Shipping</td>
								<td>${{shipping_amount}}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td style="color: green;">${{total_amount}}</td>
							</tr>
						</tbody>
					</table>
					<button type="submit" class="btn btn-danger"
						style="padding: 10px; margin-top: 20px;">Place
						Order</button>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end check out section -->

<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/1.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/2.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/3.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/4.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/5.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->

{% endblock body %}

{% block js %}
<script>
	var alertList = document.querySelectorAll('.alert');
	alertList.forEach(function (alert) {
		new bootstrap.Alert(alert);
	});
</script>
{% endblock js %}