{% extends 'base.html' %}
{% block body %}
{% block title %} <title>Your Address</title> {% endblock title %}
{% load static %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Your Address</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div style="margin: 50px;">
    <div class="container">
        {% for i in messages %}
        <div class="alert alert-{{i.tags}}" role="alert">
            {{i}}
        </div>
        {% endfor %}
        <h4>Your address</h4>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-secondary mb-4 mx-2"
                    style="max-width: 24rem; min-height: 20rem; border: dashed;">
                    <!-- <div class="card-header"><small></small></div> -->
                    <div class="card-body text-secondary">
                        <a href="{% url 'new-address' %}">
                            <h5 class="card-title"
                                style="display: flex; justify-content: center;margin-top: 85px;font-size: 120px;color: #767676;">
                                +</h5>
                            <h5 style="display: flex; justify-content: center; margin-top: 50px; color: gray;">Add
                                Address</h5>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            {% for i in address %}
            <div class="col">
                <div class="card border-secondary mb-4 mx-2" style="max-width: 24rem; min-height: 20rem;">
                    {% if i.default %}
                    <div class="card-header"><small style="margin: 45px;">Default: <img
                                src="{% static 'assets/img/logo.png' %}" width="80px" height="25px"></small></div>

                    {% endif %}
                    <div class="card-body text-secondary">

                        <h5 class="card-title">{{i.full_name|title}}</h5>

                        <p class="card-text">
                        <address>
                            {{i.area}}, {{i.flat}}
                            {{i.landmark}},
                            {{i.city|upper}}, {{i.state}}, {{i.pincode}}<br>
                            {{i.country|upper}}.<br>
                            Mobile number: {{i.mobile}}
                        </address>
                        </p>
                        <small><a href="{% url 'change-address' i.id %}">Edit</a> | <a href="{% url 'remove-address' i.id %}">Remove</a>{% if i.default %} {% else %} | <a href="{% url 'make-default' i.id %}">Set as default</a>{% endif %}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}