{% extends 'base.html' %}
{% block title %} <title>Your Address</title> {% endblock title %}
{% block style %}
<style>
    /* Styles for the custom toast container */
    .custom-toast-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        /* Semi-transparent background overlay */
        z-index: 1000;
    }

    /* Styles for the custom toast */
    .custom-toast {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        /* Set your desired width */
        background-color: white;
        color: black;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    /* Styles for the close button */
    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>
{% endblock style %}
{% block body %}
{% load static %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section" style="background-image: url('{% static 'assets/img/address.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Your Address</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div style="margin: 50px;">
    <div class="container">
        {% for i in messages %}
        <div class="alert alert-{{i.tags}}" role="alert">
            {{i}}
        </div>
        {% endfor %}
        <h4>Your address</h4>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-secondary mb-4 mx-2"
                    style="max-width: 24rem; min-height: 20rem; border: dashed;">
                    <div class="card-body text-secondary">
                        <a href="{% url 'new-address' %}">
                            <h5 class="card-title"
                                style="display: flex; justify-content: center;margin-top: 85px;font-size: 120px;color: #767676;">
                                +</h5>
                            <h5 style="display: flex; justify-content: center; margin-top: 50px; color: gray;">Add
                                Address</h5>
                        </a>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            {% for i in address %}
            <div class="col">
                <div class="card border-secondary mb-4 mx-2" style="max-width: 24rem; min-height: 20rem;">
                    {% if i.default %}
                    <div class="card-header"><small style="margin: 45px;">Default: <img
                                src="{% static 'assets/img/logo.png' %}" width="80px" height="25px"></small></div>
                    {% endif %}
                    <div class="card-body text-secondary">
                        <h5 class="card-title">{{i.full_name|title}}</h5>
                        <p class="card-text">
                        <address>
                            {{i.area}}, {{i.flat}}
                            {{i.landmark}},
                            {{i.city|upper}}, {{i.state}}, {{i.pincode}}<br>
                            {{i.country|upper}}.<br>
                            Mobile number: {{i.mobile}}
                        </address>
                        </p>
                        {% if i.default %}
                        <div class="custom-toast-container">
                            <div class="custom-toast" id="customToast">
                                <b style="color: red;">Edit failed</b>
                                <hr>
                                <address>
                                    <b>{{i.full_name}}</b>: <br>
                                    {{i.area}}, {{i.flat}} <br>
                                    {{i.landmark}}, <br>
                                    {{i.city|upper}}, {{i.state}}, {{i.pincode}}<br>
                                    {{i.country|upper}}.<br>
                                    Mobile number: {{i.mobile}}
                                </address>
                                <hr>
                                <div class="alert alert-danger" role="alert">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    This address is used as your residential address for digital purchases. To edit
                                    this address, first set a different residential address for your digital
                                    purchases.
                                </div>
                                <button class="btn btn-warning" id="closeButton">Cancel</button>
                                <span class="close-button" id="closeButton2">&times;</span>
                            </div>
                        </div>
                        <!-- remove -->
                        <div class="custom-toast-container" id="2">
                            <div class="custom-toast" id="customToast2">
                                <b style="color: red;">Remove failed</b>
                                <hr>
                                <address>
                                    <b>{{i.full_name}}</b>: <br>
                                    {{i.area}}, {{i.flat}} <br>
                                    {{i.landmark}}, <br>
                                    {{i.city|upper}}, {{i.state}}, {{i.pincode}}<br>
                                    {{i.country|upper}}.<br>
                                    Mobile number: {{i.mobile}}
                                </address>
                                <hr>
                                <div class="alert alert-danger" role="alert">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    This address is used as your residential address for digital purchases. To edit
                                    this address, first set a different residential address for your digital
                                    purchases.
                                </div>
                                <button class="btn btn-warning" id="closeButton3">Cancel</button>
                                <span class="close-button" id="closeButton4">&times;</span>
                            </div>
                        </div>
                        <!-- remove -->
                        <small><a id="showCustomToastBtn" style="color: #007bff;">Edit</a>
                            | <a id="showCustomToastBtn2" style="color: #007bff;">Remove</a>{% if i.default %} {% else %} | <a href="{% url 'make-default' i.id %}">Set as default</a>{% endif %}</small>
                        {% else %}
                        <small><a href="{% url 'change-address' i.id %}">Edit</a> | <a
                                href="{% url 'remove-address' i.id %}">Remove</a>{% if i.default %} {% else %} | <a
                                href="{% url 'make-default' i.id %}">Set as default</a>{% endif %}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script>
    const showCustomToastBtn = document.getElementById('showCustomToastBtn');
    const showCustomToastBtn2 = document.getElementById('showCustomToastBtn2');

    const customToastContainer = document.querySelector('.custom-toast-container');
    const customToastContainer2 = document.getElementById('2');


    const customToast = document.getElementById('customToast');
    const customToast2 = document.getElementById('customToast2');

    const closeButton = document.getElementById('closeButton');
    const closeButton2 = document.getElementById('closeButton2');

    const closeButton3 = document.getElementById('closeButton3');
    const closeButton4 = document.getElementById('closeButton4');



    showCustomToastBtn.addEventListener('click', () => {
        customToastContainer.style.display = 'block';
    });

    showCustomToastBtn2.addEventListener('click', () => {
        customToastContainer2.style.display = 'block';
    });

    closeButton.addEventListener('click', () => {
        customToastContainer.style.display = 'none';
    });

    closeButton2.addEventListener('click', () => {
        customToastContainer.style.display = 'none';
    });

    closeButton3.addEventListener('click', () => {
        customToastContainer2.style.display = 'none';
    });

    closeButton4.addEventListener('click', () => {
        customToastContainer2.style.display = 'none';
    });
</script>
{% endblock %}